---
http_interactions:
- request:
    method: get
    uri: http://www.flickr.com/services/rest/?api_key=2454e43003dc9e7b7d08b6703a6d0889&format=json&jsoncallback=test53937aceede762bc385f8c7c4d4fc051&method=flickr.test.echo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: '%{DYNAMIC CALLBACK}({"api_key":{"_content":"2454e43003dc9e7b7d08b6703a6d0889"},
        "format":{"_content":"json"}, "jsoncallback":{"_content":"%{DYNAMIC CALLBACK}"},
        "method":{"_content":"flickr.test.echo"}, "stat":"ok"})'
  recorded_at: Sun, 14 Apr 2013 03:48:26 GMT
recorded_with: VCR 2.4.0
